---
import type { CollectionEntry } from 'astro:content';
import MainLayout from "./MainLayout.astro";

type Props = CollectionEntry<'blog'>['data'];

const { title, description } = Astro.props;
---

<html lang="cn">
<MainLayout bodyClass="w-11/12 md:w-2/3 max-w-3xl">
	<div class="p-5 flex flex-col items-center">
		<div >
			<h3>{title}</h3>
			<hr/>
		</div>
		<slot />
	</div>
</MainLayout>
</html>
